<div class="contenedor-uploads">
        <h4>Referentes</h4>
        <div class="contenedor-uploadsCarpeta">
        {{#each listaReferentes}}
            <div id="referente" class="contenedor-archivo">
                <h5>{{this}}</h5>
                <img src="uploads/referentes/{{this}}" class="img-upload">
                <button class="boton" onclick="deleteProduct({{this}});">Borrar</button>
            </div>
        {{/each}}
        </div>

        <h4>Tipografías</h4>
        <div class="contenedor-uploadsCarpeta">
        {{#each listaTipografias}}
            <div id="tipografia" class="contenedor-archivo">
                <h5>{{this}}</h5>
                <img src="uploads/tipografias/{{this}}" class="img-upload">
                <button class="boton" onclick="deleteProduct({{this}});">Borrar</button>
            </div>
        {{/each}}
        </div>

        <h4>Paletas</h4>
        <div class="contenedor-uploadsCarpeta">
        {{#each listaPaletas}}
            <div id="paleta" class="contenedor-archivo">
                <h5>{{this}}</h5>
                <img src="uploads/paletas/{{this}}" class="img-upload">
                <button class="boton" onclick="deleteProduct({{this}});">Borrar</button>
            </div>
        {{/each}}
        </div>

        <h4>Bocetos</h4>
        <div class="contenedor-uploadsCarpeta">
        {{#each listaBocetos}}
            <div id="boceto" class="contenedor-archivo">
                <h5>{{this}}</h5>
                <img src="uploads/bocetos/{{this}}" class="img-upload">
                <button class="boton" onclick="deleteProduct({{this}});">Borrar</button>
            </div>
        {{/each}}
        </div>
        
        
    

    <!-- TODO: Implementar con cada carpeta
    <img src="{{{this.imgReferente}}}">
    <img src="uploads/referentes/{{this.filename}}">
    {{#each listaTipografias}}
        <div id="uploads-tipografias">
            <h3>Tipografías</h3>
            <img onclick="showInfo({{this.id}})" src="images/{{this.filename}}">
        </div>
    {{/each}}

    {{#each listaPaletas}}
        <div id="uploads-paletas">
            <h3>Paletas</h3>
            <img onclick="showInfo({{this.id}})" src="images/{{this.filename}}">
        </div>
    {{/each}}

    {{#each listaBocetos}}
        <div id="uploads-bocetos">
            <h3>Bocetos</h3>
            <img onclick="showInfo({{this.id}})" src="images/{{this.filename}}">
        </div>
    {{/each}}
    -->
    
</div>

<script>
    // TODO: funcion delete y funcion zoom in
</script>