<div class="contenedor-uploads">
    
    <div class="contenedor-aviso">
        <h1>CARGA EXITOSA!</h1>
        {{#each listaReferentes}}
        <p>El archivo <b>{{this.filename}}</b> fue subido correctamente</p>
        {{/each}}
        <a href="/subida-archivos" class="boton">Volver atrás</a>
    </div>

    {{#each listaReferentes}}
        <div id="uploads-referentes">
            <h3>Referentes</h3>
            <img src="uploads/referentes/{{this.filename}}">
            <button class="boton" onclick="deleteProduct({{this.filename}});">Borrar</button>
        </div>
    {{/each}}
    
    {{#each listaTipografias}}
        <div id="uploads-tipografias">
            <h3>Tipografías</h3>
            <img onclick="showInfo({{this.id}})" src="images/{{this.filename}}">
        </div>
    {{/each}}

    {{#each listaPaletas}}
        <div id="uploads-paletas">
            <h3>Paletas</h3>
            <img onclick="showInfo({{this.id}})" src="images/{{this.filename}}">
        </div>
    {{/each}}

    {{#each listaBocetos}}
        <div id="uploads-bocetos">
            <h3>Bocetos</h3>
            <img onclick="showInfo({{this.id}})" src="images/{{this.filename}}">
        </div>
    {{/each}}
    
</div>