<div class="contenedor-uploads">
    <h4>Referentes</h4>
    <div class="contenedor-uploadsCarpeta">
    {{#each referentes}}
        <div id="referente" class="contenedor-archivo">
            <img src="uploads/{{../username}}/referentes/{{this}}" class="img-upload" title="{{this}}">
            <button class="boton" onclick="borrarArchivo({{this}})">Borrar</button>
        </div>
    {{/each}}
    </div>

    <h4>Tipografías</h4>
    <div class="contenedor-uploadsCarpeta">
    {{#each tipografias}}
        <div id="tipografia" class="contenedor-archivo">
            <img src="uploads/{{../username}}/tipografias/{{this}}" class="img-upload" title="{{this}}">
            <button class="boton" onclick="borrarArchivo({{this}})">Borrar</button>
        </div>
    {{/each}}
    </div>

    <h4>Paletas</h4>
    <div class="contenedor-uploadsCarpeta">
    {{#each paletas}}
        <div id="paleta" class="contenedor-archivo">
            <img src="uploads/{{../username}}/paletas/{{this}}" class="img-upload" title="{{this}}">
            <button class="boton" onclick="borrarArchivo({{this}})">Borrar</button>
        </div>
    {{/each}}
    </div>

    <h4>Bocetos</h4>
    <div class="contenedor-uploadsCarpeta">
    {{#each bocetos}}
        <div id="boceto" class="contenedor-archivo">
            <img src="uploads/{{../username}}/bocetos/{{this}}" class="img-upload" title="{{this}}">
            <button class="boton" onclick="borrarArchivo({{this}})">Borrar</button>
        </div>
    {{/each}}
    </div>
</div>

<script> // TODO: funcion delete y funcion zoom in
    
/*
function borrarArchivo(){       

    var boceto = document.getElementById("boceto");
    console.log(boceto);
    
    fs.unlink(`./public/uploads/bocetos/${boceto}`, (error) => {
        if (error) {
        failure(`No se ha podido borrar el archivo${this.filename}`);
        }
        succes(console.log(`Deleted ${this.filename}!`));
    });
   

//const fs = require('fs-extra');


/**
 * Función que consulta y devuelve el array de archivos en la carpeta /bocetos
 * 
 * @param {function} success Callback para resultado ok
 * @param {function} failure Callback para error
 */
/*function borrarArchivo(filename) {
	
	fs.remove(`uploads/bocetos/${filename}`)
    .then(() => {
        console.log('success!')
    })
    .catch(err => {
        console.error(err)
    })

}
*/

</script>